/* Colors : rgb(35 25 52) botton-hambuger;*/
nav {
	display: none;
    position: fixed;
    z-index: 0;
    top:-150px;
    right: -170px;
    display: inline-block;
    height:500px;
    width:500px;
    border-bottom-left-radius:250px;
    border-top-left-radius:250px;
    border-bottom-right-radius:250px;
    background-color: rgb(84 60 124);
}


.none {
	display: none;
}


/* -----*/
ul {
	z-index: 3;
    position: relative;
    /* top: 50%;
    left: 50%; */
}

.li--color {
	color:white;
	
}

.li--line-height {
	line-height: 2.5rem;
}

.ul--pr {
 position: fixed;
 right: 5%;
}
/* ------- */

.hamburger {
	padding: 20px 15px;
}

.hamburger-box { 
	height: 10px;
	width: 35px;
	
}

.hamburger--color-purple{
	background-color: rgb(84 60 124);
	border-radius: 100%;
}

.hamburger--position-r {
	position:fixed;
	right: 3%;
	z-index:999;
}

.hamburger-inner--bg-white , 
.hamburger-inner--bg-white::after , 
.hamburger-inner--bg-white::before {
 background-color: white;
 width: 35px;
}

nav a:hover{
	color: rgba(255,255,255,1);
	border-bottom-color:rgba(255,255,255,0.4)}



	/* Medias Queries */

	@media (min-width: 320px) { 
			
		nav {
		
				top: -128px;
				right: -99px;
				height: 430px;
				width: 388px;
				border-bottom-left-radius: 273px;
				border-top-left-radius: 130px;
				border-bottom-right-radius: 64px;
				background-color: rgb(84 60 124);
			
		}

		ul{
		    padding-top: 180px;
    		padding-left: 40%;		
		}

		.a--size {
			font-size: 1.5rem;
		}

		.li {
			line-height: 32px;
		}

		/*Hamburguer*/


		.hamburger--position-r {
		    right: 3%;
    		top: 3%;
		}

	 }

	@media (min-width: 640px) { 
			
		nav 
			 {
				
					top: -286px;
					right: -180px;
					height: 680px		;
						width: 580px				;
					border-bottom-left-radius: 350px;
					border-top-left-radius: 250px;
					border-bottom-right-radius: 250px;
					background-color: rgb(84 60 124);
			
			
		}

		ul{
			padding-top: 375px;
			padding-left: 39%;
		}

		.a--size {
			@apply text-3xl
		}

	 }

	 
	@media (min-width: 768px) { nav {
		top: -222px;
		right: -250px;
		height: 700px;
		width: 700px;
		border-bottom-left-radius: 535px;
		border-top-left-radius: 250px;
		border-bottom-right-radius: 250px;
		background-color: rgb(84 60 124);
	} 


	.hamburger--position-r {
		right: 3%;
		top: 2%;
	}

	.a--size {
		font-size: 40px;
		
	}

	ul{
		padding-top: 335px;
		padding-left: 35%;
	}

	.li--line-height {
		line-height: 50px;
	}
	


}


	@media (min-width: 1280px) { 
		nav {
			top: -222px;
			right: -250px;
			height: 725px;
			width: 750px;
			border-bottom-left-radius: 535px;
			border-top-left-radius: 250px;
			border-bottom-right-radius: 250px;
			background-color: rgb(84 60 124);
		}
	}
	@media (min-width: 1536px) { 
		nav {
		height:500px;
		width:500px;
		border-radius: 100%;
		background-color: rgb(84 60 124);
		}
	 }

	 :host {
		display: block;
		margin-top: 1rem;
	  }
	  
	  .open-close-container {
		border: 1px solid #dddddd;
		margin-top: 1em;
		padding: 20px 20px 0px 20px;
		color: #000000;
		font-weight: bold;
		font-size: 20px;
	  }