<button class="hamburger hamburger--position-r hamburger--color-purple" 
        type="button" (click)="showAndHide()" 
        [ngClass]="toggle ? 'hamburger--collapse is-active': ''">
  <span class="hamburger-box">
    <span class="hamburger-inner hamburger-inner--bg-white"></span>
  </span>
</button>

<nav *ngIf="toggle" [ngClass]="toggle ? 'animate__animated animate__fadeInTopRight ' : '' ">
  <ul class="">
    <li class="li--color li--line-height sm:text-3xl"><a class="a--size" href="">hola</a></li>
    <li class="li--color li--line-height sm:text-3xl"><a class="a--size" href="">hola</a></li>
    <li class="li--color li--line-height sm:text-3xl"><a class="a--size" href="">hola</a></li>
    <li class="li--color li--line-height sm:text-3xl"><a class="a--size" href="">hola</a></li>
  </ul>
</nav>

<div id="nav__efect"></div>




   



