/* .caja {
    
    display: inline-block;
    margin: 0 0.5rem;
    
    animation: fadeOutLeft; 
    animation-duration: 4s; 
    animation-iteration-count: infinite;
 
} */



@-webkit-keyframes fadeOutLeft {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fadeOutLeft {
    from {
      opacity: 1;
      right: 0;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      right: 1000px;
    }
  }
  
  .fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    position: absolute;
  }
  
  .pr{
      position: relative;
      right: 0;
      width: 100%;
      height: auto;
  }




h1{
  top:49.5% !important;
  left:2.0% !important;
  font-size: 3.0vw;
  color: rgb(49, 35, 73);
}


 @media (min-width: 1280px) { 
      
  .img--size{
    width: 100%;
    height: 650px;
  }

  }

 @media (min-width: 1536px) { 

  .img--size{
    width: 100%;
    height: 750px;
  }

 } 