<div class="banner">

  <img src="../assets/images/banner-2000.jpg" class="object-cover" alt="">
  <h1>
    <a href="" class="typewrite type--font-color-and-size" data-period="2000" data-type='[ "Hi, Im Si.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
      <span class="wrap"></span>
    </a>
  </h1>
</div>



<div id="demo">Hola mundo</div>

<!-- <div class="relative">
  <p class="bg-blue-400 h-20 w-20 absolute caja" 
  style="display:inline-block;  top:20px; right: 0;" >HOla</p>

  <img class="object-cover" src="../assets/images/2328586.jpg" alt="">
</div> -->

<!-- <div class="inline-block pr">
  <h1>HOla</h1>
  <p class="fadeOutLeft ">hola</p>
</div> -->