<div class="relative" id="banner" >

  <img 
  src="../assets/images/banner-2000.jpg" 
  class="object-cover img--size" 
  alt=""
  onresize="" id="flagSize">
 
    <h1 class="absolute font-bold"> &lt;
      <a href="" class="typewrite" data-period="2000" 
        data-type='[ "Hola,Soy Jorge Salgado.",
         "I am Creative.", 
         "I Love Design.",
         "I Love to Develop." ]'>
        <span class="wrap"></span>
      </a> &gt;
    </h1>
  

</div>



<div id="addTextBanner"></div>

<div id="imagesBanner"></div>


